@layer base {
	body {
		@apply min-h-screen w-full 
			text-black bg-white 
			dark:text-white dark:bg-black 
			text-body;

		--color-inherit: inherit;

		overflow: scroll;

		@supports (scrollbar-gutter: stable) {
			overflow: auto;
			scrollbar-gutter: stable;
		}
	}

	a {
		@apply text-current underline underline-offset-2 decoration-[0.5px];

		&:hover {
			@apply opacity-60;
		}
	}

	.dark {
		.shiki, .shiki span {
			color: var(--shiki-dark) !important;
			background-color: var(--shiki-dark-bg) !important;  
		}
	}

	#modals {
		@apply hidden;

		&:has(*) {
			@apply flex flex-col fixed inset-0 bg-grey-900/60 dark:bg-grey-800/90
				items-center max-h-svh overflow-y-scroll;
		}
	}
}