body {
	min-height: 100svh;
	overflow: scroll;
	font-family: var(--font-sans);
	font-size: var(--font-size-body);
	line-height: var(--line-height-body);
	color: var(--color-black);
	background-color: var(--color-white);

	@supports (scrollbar-gutter: stable)  {
		overflow: auto;
		scrollbar-gutter: stable;
		
	}
}

.dark {
	body {
		color: var(--color-white);
		background-color: var(--color-black);
	}

	.shiki, .shiki span {
		color: var(--shiki-dark) !important;
		background-color: var(--color-grey-800) !important;
	}
}

a {
	color: inherit;
	text-decoration: underline;
	text-decoration-thickness: var(--line-width-thin);
	text-decoration-style: solid;
	text-decoration-color: inherit;
	text-underline-offset: var(--size-2);
	cursor: pointer;
	border-radius: var(--radius-4);

	&:hover {
		opacity: 0.6;
	}
}

b {
	font-weight: var(--font-weight-bold);
}

code {
	font-family: var(--font-mono);
	font-size: var(--font-size-mono);
	line-height: var(--line-height-body);
}

/** Interactive */
textarea {
	min-height: calc(2em + var(--size-4));
	padding-right: var(--size-8);
	padding-left: var(--size-8);
	resize: vertical;
}

input:not([type="checkbox"], [type="radio"]), textarea {
	width: 100%;
	padding: var(--size-8) var(--size-16);
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	background-color: var(--color-grey-50);
	border: none;
	border-radius: var(--radius-4);
	
	.dark & {
		color: var(--color-white);
		background-color: var(--color-grey-800);
	}
}
