:where(html) {
	--size-0: 0;
	--size-1: 0.0625rem;
	--size-2: 0.125rem;
	--size-4: 0.25rem;
	--size-8: 0.5rem;
	--size-16: 1rem;
	--size-20: 1.25rem;
	--size-24: 1.5rem;
	--size-32: 2rem;
	--size-40: 2.5rem;
	--size-48: 3rem;
	--size-56: 3.5rem;
	--size-64: 4rem;
	--size-72: 4.5rem;
	--size-80: 5rem;
	--size-96: 6rem;
	--size-128: 8rem;
	--size-144: 9rem;
	--size-192: 12rem;
}