:where(html) {
	--font-size-title: 2.125rem;
	--line-height-title: 2.5rem;
	--font-size-heading: 1.25rem;
	--line-height-heading: 1.5rem;
	--font-size-body: 1rem;
	--line-height-body: 1.25rem;
	--font-size-caption: 0.75rem;
	--line-height-caption: 0.875rem;
	--font-family-sans: system-ui, sans-serif;
	--font-family-mono: dank mono,operator mono,inconsolata,
		fira mono,ui-monospace,sf mono,monaco,droid sans mono,source code pro,
		cascadia code,menlo,consolas,dejavu sans mono,monospace;
	--font-weight-100: 100;
	--font-weight-200: 200;
	--font-weight-300: 300;
	--font-weight-400: 400;
	--font-weight-500: 500;
	--font-weight-600: 600;
	--font-weight-700: 700;
	--font-weight-800: 800;
	--font-weight-900: 900;
	
}