@theme {
	--color-*: initial;
	--color-gray-100: oklch(99% 0 0);
	--color-gray-200: oklch(87% 0 0);
	--color-gray-300: oklch(75% 0 0);
	--color-gray-400: oklch(63% 0 0);
	--color-gray-500: oklch(51% 0 0);
	--color-gray-600: oklch(39% 0 0);
	--color-gray-700: oklch(27% 0 0);
	--color-gray-800: oklch(15% 0 0);
	--color-gray-900: oklch(3% 0 0);
	--color-orange: oklch(69% 0.2 36);
	--color-green: oklch(66% 0.2 144);
	--color-red: oklch(69% 0.2 28);
	--color-yellow: oklch(80% 0.17 78);
	--color-blue: oklch(69% 0.18 236);

	--spacing-*: initial;
	--spacing-0: 0;
	--spacing-1: 0.0625rem;
	--spacing-2: 0.125rem;
	--spacing-4: 0.25rem;
	--spacing-8: 0.5rem;
	--spacing-16: 1rem;
	--spacing-20: 1.25rem;
	--spacing-24: 1.5rem;
	--spacing-32: 2rem;
	--spacing-48: 3rem;
	--spacing-54: 3.5rem;
	--spacing-60: 4rem;
	--spacing-64: 4.5rem;
	--spacing-full: 100%;
	--spacing-min: min-content;
	--spacing-max: max-content;
	--spacing-fit: fit-content;
	--spacing-svh: 100svh;

	--radius-*: initial;
	--radius-none: 0;
	--radius-2: 0.125rem;
	--radius-4: 0.25rem;
	--radius-8: 0.5rem;
	--radius-16: 1rem;
	--radius-full: 9999px;
	--radius: var(--radius-4);
}

@variant dark (&:where(.dark, .dark *));

html, .light {
	--color-neutral-100: var(--color-gray-100);
	--color-neutral-200: var(--color-gray-200);
	--color-neutral-300: var(--color-gray-300);
	--color-neutral-400: var(--color-gray-400);
	--color-neutral-500: var(--color-gray-500);
	--color-neutral-600: var(--color-gray-600);
	--color-neutral-700: var(--color-gray-700);
	--color-neutral-800: var(--color-gray-800);
	--color-neutral-900: var(--color-gray-900);
	--color-accent: var(--color-orange);
	--color-success: var(--color-green);
	--color-warning: var(--color-yellow);
	--color-error: var(--color-red);
	--color-info: var(--color-blue);
}

.dark {
	--color-neutral-100: var(--color-gray-900);
	--color-neutral-200: var(--color-gray-800);
	--color-neutral-300: var(--color-gray-700);
	--color-neutral-400: var(--color-gray-600);
	--color-neutral-500: var(--color-gray-500);
	--color-neutral-600: var(--color-gray-400);
	--color-neutral-700: var(--color-gray-300);
	--color-neutral-800: var(--color-gray-200);
	--color-neutral-900: var(--color-gray-100);
}